#theform {
    border:solid 2px whitesmoke;
    margin-top: 7%;
    margin-left:15%;
    margin-right: 15%;
    width: 70%;
    border:solid 3px whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px whitesmoke,-5px -5px 5px whitesmoke;
}
h1 {
    background:linear-gradient(rgb(79, 79, 246),rgb(16, 195, 250));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0%;
    padding:3%;
    color: #fff;
    text-align: center;
}
form {
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
}
input {
    margin-block: 15px;
    padding: 5px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px grey;
}

#submit {
    width: 84%;
    background: linear-gradient(rgb(79, 79, 246),rgb(16, 195, 250));
    border-radius: 7px;
    height: 40px;
    border:solid 1px whitesmoke;
    color: #fff;
    font-size: large;
    font-weight: bolder;
}
#submit:hover {
    background:linear-gradient(rgb(16, 195, 250),rgb(79,79,246));
    cursor: pointer;
}
input:valid {
    box-shadow: 3px 3px 3px green;
    border:solid 1px green;
}
input:invalid {
    box-shadow: 3px 3px 3px rgb(244, 70, 70);
    border:solid 1px rgb(244, 70, 70);
}